<!DOCTYPE html>
<html lang="en" ng-app="esModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sistema para gerenciamento de entrada e saida de estudantes">
    <meta name="author" content="Daniel Marques">

    <title>ES Visitantes</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../carousel.css" rel="stylesheet">
  </head>

<!-- NAVBAR -->
  <body ng-controller="visitantesController">
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">es_visitantes</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="../index.html">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cadastroVisitante.html">Cadastrar visitante</a></li>
                    <li><a href="listaVisitantes.html">Listar visitantes</a></li>
                    <li><a href="pesquisaVisitante.html">Pesquisar</a></li>
                    <li role="separator" class="divider"></li>
                    <!-- <li class="dropdown-header">Nav header</li> -->
                    <li><a href="saidaVisitante.html">Saída de visitante</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>

              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">Login</a></li>
                <li><a href="#contact">Configuraçoes</a></li>
              </ul>

            </div>
          </div>
        </nav>

      </div>
    </div>
    <div class="container marketing" style="margin-top:3em">
        <div class="row">
          <h1 align="center">Lista visitantes</h1>
            <div class="col-md-8">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Apartamento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="visitante in listaVisitantes">
                    <td>{{visitante.nome}}</td>
                    <td>{{visitante.cpf}}</td>
                    <td>{{visitante.apartamento}}</td>
                  </tr>
                </tbody>
              </table>

            </div>


        </div>

        <!-- FOOTER -->
        <br /><br />
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 danmasilva, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../controllers/esController.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

  </body>
</html>
